<div class="ngt-container">
  <div class="ngt-header container-fluid bg-primary-subtle">Next Gen Tech Blog</div>
  <div class="ngt-body container mx-auto p-3 p-md-5">
    <div class="ngt-list-header mb-3"> Explore the trending technologies below</div>
    <div class="ngt-list-items">
      <!-- <div class="ngt-list-item card mb-3" *ngFor="let techItem of technologiesList">
        <img class="card-img-top" src="assets/next-gen-tech-logo.png" alt="Card image cap" width="250" height="200">
        <div class="card-body">
          <h5 class="card-title">{{ techItem.tecnologyName }}</h5>
          <p class="card-text">{{ techItem.category }}</p>
          <a [href]="techItem.link" class="btn btn-primary" target="_blank">Learn more</a>
        </div>
      </div> -->
      <div class="ngt-list-item card text-bg-light mb-3" *ngFor="let techItem of technologiesList">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="img-fluid rounded-start" src="assets/next-gen-tech-logo.png" alt="Card image cap">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ techItem.tecnologyName }}</h5>
              <p class="card-text">{{ techItem.category }}</p>
              <a [href]="techItem.link" class="btn btn-primary" target="_blank">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ngt-footer container-fluid bg-secondary-subtle p-4">
    <div class="footer__wrapper">
      <div class="footer__action_items">
        <a class="me-3" href="/">Home</a>
        <a href="/">About me</a>
      </div>
      <span>Web page is created with W3C, WCAG standards and is ADA compliant.</span>
    </div>
  </div>
</div>
